section#about
  .section-header
    .container
      h1 О нас
    .container.content
      .row-fluid
        .span6
          h3 Уважаемые партнеры!
          p
            | Предлагаем вам разместить информацию о своей компании в новом полноцветном, отпечатанном на плотной мелованной глянцевой бумаге, телефонном справочнике «Полезные страницы».
          p
            | Издание ориентировано на социально активное население Клайпеды, Клайпедского района и гостей города. В каталоге представлены десятки различных направлений деятельности, он охватывает практически все стороны деловой жизни региона.
          p
            | Главная особенность справочника в том, что информация в нем публикуется сразу на двух языках – литовском и русском. КРОМЕ ИНФОРМАЦИИ о себе Вы можете разместить в нашем издании КУПОН, предоставляющий скидку на производимые Вами товары или услуги. «Книжка купонов» расположена в последней части справочника.
          p
            | Первый выпуск – в конце ноября 2013 г., далее – каждый квартал.
        .span6.services
          h3 Особенности предложения
          ul.icons-list
            li
              i.li_note
              h4 Формат издания
              span
                | формат А-5, бумага глянцевая мелованная 130 гр/м2, обложка – ламинированная 250 гр/ м2, высококачественная полноцветная печать, тираж 10 000 экз., объем 32 полосы.
            li
              i.li_bulb
              h4 Распространение
              span
                | Бесплатное: на фирменных стойках, расположенных в крупнейших торговых центрах, а также в других людных местах Клайпеды и Клайпедского района. Возможна адресная доставка на предприятия и в офисы.
            li
              i.li_diamond
              h4 Актуальность
              span
                | Это обширная и постоянно пополняющаяся база данных телефонных номеров организаций и предприятий  г. Клайпеда и Клайпедского района. Если вы не обнаружили в телефонном справочнике данных о своей компании, позвоните в редакцию  по указанным в разделе «Контакты» телефонам или напишите нам по электронной почте, и мы с удовольствием разместим предоставленную вами информацию.
      .row-fluid
        .span12
          h3 Наши клиенты
          ul.clients-list
            li
              a(href='#')
                img(src='/img/logos/1.png', alt='client name')
            li
              a(href='#')
                img(src='/img/logos/2.png', alt='client name')
            li
              a(href='#')
                img(src='/img/logos/3.png', alt='client name')
            li
              a(href='#')
                img(src='/img/logos/4.png', alt='client name')
            li
              a(href='#')
                img(src='/img/logos/5.png', alt='client name')
