#copyright
  .container
    .row-fluid
      #owner.span6
        | © 2013,
        a(href='http://bootstrapmaster.com', alt='Bootstrap Themes') NN
        | . Дизайн
        a(href='http://bootstrapmaster.com', alt='Bootstrap Templates') Mc'M
        | studio
        img.img-retina(src='/Content/img/poland.png', alt='Poland', style='margin-top: -4px;')
      #follow.span6
        | Следуйте за нами:
        a.social-dribbble(href='#')
        a.social-twitter(href='http://twitter.com/BootstrapMaster')
        a.social-flickr(href='#')
        a.social-facebook(href='http://facebook.com/BootstrapMaster')
        a.social-youtube(href='#')
