section#design
  .section-header
    .container
      h1 Дизайн
    .container.content
      .row-fluid
        .span6.post
          h4 Дизайн издания
          a(href='#')
            img(src='/img/projects/5.jpg', alt='')
          .tags
            span.date
              i.li_calendar
              | осень 2013
            span.tags
              i.li_tag
              | титульный лист
            span.comments
              i.li_bubble
              | 78 комментариев
          p
            | Дизайн титульной страницы выполнен в строгом пуританском стиле.
        .span6
          h4 Модули
          .row-fluid
            .span6.post.small
              a(href='#')
                img(src='/img/projects/1.jpg', alt='')
              h4 Модуль А
              .tags
                span.date
                  i.li_calendar
                  | осень 2013
            .span6.post.small
              a(href='#')
                img(src='/img/projects/2.jpg', alt='')
              h4 Модуль А1
              .tags
                span.date
                  i.li_calendar
                  | осень 2013
          .row-fluid
            .span6.post.small
              a(href='#')
                img(src='/img/projects/3.jpg', alt='')
              h4 Модуль В
              .tags
                span.date
                  i.li_calendar
                  | осень 2013
            .span6.post.small
              a(href='#')
                img(src='/img/projects/4.jpg', alt='')
              h4 Модуль В1
              .tags
                span.date
                  i.li_calendar
                  | осень 2013
