header
    .container
        .navbar
            .navbar-inner
                a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.brand(href="#")
                    img(src="/img/logos/nn.png", style="width: 250px; margin-top: -30px;")
                .nav-collapse.collapse
                    include ../snippets/main-menu