section#pricing
  .section-header
    .container
      h1 Модули
    .container.content
      span.visible-phone(style='text-align: center;')
        img.img-retina(src='/Content/img/Swipe_Left.png', alt='swipe')
        | or
        img.img-retina(src='/Content/img/Swipe_Right.png', alt='swipe')
        br
        | try to swipe this table to the left and next to the right
      .price-table-overlay
        .price-table.four
          ul
            li.header Модуль А
            li.price 250Lt
            li
              span 50
              | см2
            li
              span 124 * 40
              | мм
            li.select
              a.btn.btn-info(href='#') Выбрать
          ul
            li.header Модуль А1
            li.price 280Lt
            li
              span 54
              | см2
            li
              span 60 * 90
              | мм
            li.select
              a.btn.btn-info(href='#') Выбрать
          ul.best-option
            li.header Модуль В
            li.price 360Lt
            li
              span 70
              | см2
            li
              span 124 * 55
              | мм
            li.select
              a.btn.btn-info(href='#') Выбрать
          ul
            li.header Модуль В1
            li.price 390Lt
            li
              span 75
              | см2
            li
              span 60 * 125
              | мм
            li.select
              a.btn.btn-info(href='#') Выбрать
          ul
            li.header Модуль C (1/2 страницы)
            li.price 510Lt
            li
              span 113
              | см2
            li
              span 124 * 91
              | мм
            li.select
              a.btn.btn-info(href='#') Выбрать
          ul.best-option
            li.header Модуль D
            li.price 980Lt
            li
              span 230
              | см2
            li
              span 124 * 186
              | мм
            li.select
              a.btn.btn-info(href='#') Выбрать
          ul
            li.header Модуль в рубрикаторе
            li.price 100Lt
            li
              span 18
              | см2
            li
              span 60 * 30
              | мм
            li.select
              a.btn.btn-info(href='#') Выбрать
          ul
            li.header Модуль-купон
            li.price 200Lt
            li
              span 30
              | см2
            li
              span 60 *50
              | мм
            li.select
              a.btn.btn-info(href='#') Выбрать
