section#home
  .container
    #layerslider-container.content
      #layerslider-main(style='width: 1070px; height: 450px;')
        .ls-layer(style='slidedirection: top; slidedelay: 7000;')
          h1.ls-s1(style='top: 130px; left: 0px; slidedirection: left;')
            | Первое издание
          h2.ls-s1(style='top: 180px; left: 0px; slidedirection: top;')
            span ПОЛЕЗНЫЕ СТРАНИЦЫ
          img.ls-s3.img-retina(src='/img/macbook.png', alt='slider', style='position: absolute; top: 30px; left: 400px; slidedirection: top; delayin: 500;')
          h3.ls-s2(style='top: 230px; left: 0px; slidedirection: bottom; slideoutdirection: left; durationin: 2000; durationout: 1000; easingin: easeOutElastic; easingout: easeInOutQuint; delayin: 1000; showuntil: 2000;')
            | информация из первых рук
          h4.ls-s3(style='top: 260px; left: 0px; slidedirection: top; slideoutdirection: bottom; durationin: 1500; durationout: 1000; easingin: easeOutBack; easingout: easeInOutQuint; delayin: 1000; showuntil: 1900;')
            | в нашем издании
          h3.ls-s3(style='top: 230px; left: 0px; slidedirection: left; slideoutdirection: right; durationin: 1200; durationout: 1200; easingin: easeInOutQuart; easingout: easeInOutQuart; delayin: 5000;')
            | просто, доступно, эффективно!
          h4.ls-s3(style='top: 260px; left: 0px; slidedirection: right; slideoutdirection: left; durationin: 1200; durationout: 1200; easingin: easeInOutQuart; easingout: easeInOutQuint; delayin: 5000;')
            | в комфортном справочнике!
          a.ls-s4.btn.btn-large.btn-success(href='https://wrapbootstrap.com/user/creativelabs', style='top: 300px; left: 40px; slidedirection: bottom; slideoutdirection: left; durationin: 1400; durationout: 1400; easingin: easeInOutQuart; easingout: easeInOutQuint; delayin: 5000;') Попробуй сейчас
        .ls-layer.layer2(style='slidedirection: right; slidedelay: 4000;')
          img.ls-s1.img-retina(src='/img/responsive-ipad-black.png', alt='slider', style='position: absolute; z-index: -1; top: 10px; left: 50px; slidedirection: right; slideoutdirection: left; delayin: 500; showuntil: 3000;')
          img.ls-s2.img-retina(src='/img/responsive-iphone-black.png', alt='slider', style='position: absolute; top: 10px; left: 50px; slidedirection: right; slideoutdirection: left; delayin: 1000; showuntil: 3100;')
          img.ls-s3.img-retina(src='/img/responsive-iphone-white.png', alt='slider', style='position: absolute; top: 10px; left: 50px; slidedirection: right; slideoutdirection: left; delayin: 1500; showuntil: 3200;')
          h1.ls-s4(style='top: 130px; left: 490px; slidedirection: left; showuntil: 3200;')
            | Удобный формат
          h2.ls-s4(style='top: 180px; left: 490px; slidedirection: top; showuntil: 3200;')
            span Ваша реклама не только в печати
          h3.ls-s5(style='top: 230px; left: 490px; slidedirection: bottom; slideoutdirection: left; durationin: 2000; durationout: 1000; easingin: easeOutElastic; easingout: easeInOutQuint; delayin: 1000; showuntil: 3000;')
            | но и в интернете
          h4.ls-s5(style='top: 260px; left: 490px; slidedirection: top; slideoutdirection: bottom; durationin: 1500; durationout: 1000; easingin: easeOutBack; easingout: easeInOutQuint; delayin: 1000; showuntil: 2900;')
            | протестировано!
        .ls-layer(style='slidedirection: right; slidedelay: 4000;')
          img.ls-s1.img-retina(src='/img/retina-black.png', alt='slider', style='position: absolute; top: 20px; left: 450px; slidedirection: right; slideoutdirection: right;')
          img.ls-s2.img-retina(src='/img/retina-white.png', alt='slider', style='position: absolute; top: 25px; left: 450px; slidedirection: right; slideoutdirection: right; delayin: 200;')
          h1.ls-s3(style='top: 100px; left: 40px; slidedirection: left;')
            | Любые варианты размещения
          h1.ls-s3(style='top: 140px; left: 40px; slidedirection: left;')
            | Модули от А до С
          a.ls-s4.btn.btn-large.btn-info(href='https://wrapbootstrap.com/user/creativelabs', style='top: 300px; left: 40px; slidedirection: bottom; slideoutdirection: left; durationin: 1400; durationout: 1400; easingin: easeInOutQuart; easingout: easeInOutQuint; delayin: 1000;') Заказ рекламы
          h3.ls-s5(style='top: 220px; left: 40px; slidedirection: bottom; slideoutdirection: left; durationin: 2000; durationout: 1000; easingin: easeOutElastic; easingout: easeInOutQuint; showuntil: 3000;')
            span Качество за разумные деньги
          h4.ls-s6(style='top: 250px; left: 40px; slidedirection: top; slideoutdirection: bottom; durationin: 1500; durationout: 1000; easingin: easeOutBack; easingout: easeInOutQuint; showuntil: 3000;')
            span
              b Великолепно!
    .row-fluid.featured-icons
      .span3
        i.li_megaphone
        h3 Мы - первые!
        p
          | Это первое в Клайпеде и Клайпедском районе издание, предлагающее читателям ПОСТОЯННО ОБНОВЛЯЕМУЮ СИСТЕМАТИЗИРОВАННУЮ информацию об организациях, предприятиях, услугах и товарах.
      .span3
        i.li_bulb
        h3 Информация
        p
          | Расположена в алфавитном порядке. КРОМЕ ИНФОРМАЦИИ о себе Вы можете разместить в нашем издании КУПОН, предоставляющий скидку на производимые Вами товары или услуги. «Книжка купонов» расположена в последней части справочника.
          | Дополнительную информацию о данном проекте Вы можете получить у нашего менеджера по телефону.
      .span3
        i.li_paperplane
        h3 Имиджевая реклама
        p
          | Сделаем в самых лучших традициях! После первой же публикации даже в говновозную контору выстроится очередь!
      .span3
        i.li_phone
        h3 Звоните!
        p
          | Если вы не обнаружили в телефонном справочнике данных о своей компании, позвоните в редакцию  по указанным в разделе «Контакты» телефонам или напишите нам по электронной почте, и мы с удовольствием разместим предоставленную вами информацию.
    hr
    .hero-unit
      h2
        | Емкая структура объявления охватывает все основные данные об организации. В телефонный справочник входит следующая информация о компании:
      h4
        ul
          li Наименование
          li Адрес
          li Телефон
          li Сайт
          li Текст объявления
