section#team
  .section-header
    .container
      h1 Наша команда
    .container.content
      .row-fluid
        .span3.team-member
          .member
            img.img-circle(src='/img/team1r.jpg', alt='team member')
          .description
            .name Павел Выговскис
            .position Главный редактор
          .links
            a.social-facebook(href='#')
            a.social-twitter(href='#')
            a.social-linkedin(href='#')
            a.social-pinterest(href='#')
            a.social-dribbble(href='#')
            a.social-forrst(href='#')
        .span3.team-member
          .member
            img.img-circle(src='/img/team2r.jpg', alt='team member')
          .description
            .name Максимас Выговскис
            .position Отдел информационных технологий
          .links
            a.social-facebook(href='#')
            a.social-twitter(href='#')
            a.social-linkedin(href='#')
            a.social-pinterest(href='#')
            a.social-dribbble(href='#')
            a.social-forrst(href='#')
        .span3.team-member
          .member
            img.img-circle(src='/img/team3r.jpg', alt='team member')
          .description
            .name Светлана Петровея
            .position Идейный вдохновитель
          .links
            a.social-facebook(href='#')
            a.social-twitter(href='#')
            a.social-linkedin(href='#')
            a.social-pinterest(href='#')
            a.social-dribbble(href='#')
            a.social-forrst(href='#')
        .span3.team-member
          .member
            img.img-circle(src='/img/team4r.jpg', alt='team member')
          .description
            .name Какаята Бабос
            .position Рекламный отдел
          .links
            a.social-facebook(href='#')
            a.social-twitter(href='#')
            a.social-linkedin(href='#')
            a.social-pinterest(href='#')
            a.social-dribbble(href='#')
            a.social-forrst(href='#')
