extends layout/main

block content
    include partials/header
    include partials/start
    include partials/about
    include partials/design
    include partials/order
    include partials/price
    include partials/team
    include partials/contact
    include partials/footer
    include partials/copyright
    include partials/scripts

