ul.nav.scroll-nav
    li.active: a(href="#home") Главная
    li: a.scroll(href="#about") О нас
    li: a.scroll(href="#design") Дизайн
    li: a.scroll(href="#row-order") Реклама
    li: a.scroll(href="#pricing") Цены
    li: a.scroll(href="#team") Команда
    li: a.scroll(href="#contact") Контакты

